In [1]:
file=open("ecoProj.csv","r")

In [ ]:
print(file.read())

In [5]:
import pandas as pd
data=pd.read_csv("ecoProj.csv")

In [22]:
data[data['sku_id']==216233]

      record_ID        week  ...  is_display_sku  units_sold
5         39244  04-07-2011  ...               0          29
14        39263  04-07-2011  ...               0         108
30        39288  04-07-2011  ...               0          50
51        39312  04-07-2011  ...               0          43
72        39339  04-07-2011  ...               0          83
...         ...         ...  ...             ...         ...
3965      45680  25-07-2011  ...               0          58
3978      45698  25-07-2011  ...               0          44
3989      45717  25-07-2011  ...               0          35
4006      45742  25-07-2011  ...               0          55
4023      45767  25-07-2011  ...               0          44

[295 rows x 9 columns]

In [14]:
#group by sku_id
grouped=data.groupby(['sku_id'])

In [16]:
for group in grouped:
    print(group)

((216233,),       record_ID        week  ...  is_display_sku  units_sold
5         39244  04-07-2011  ...               0          29
14        39263  04-07-2011  ...               0         108
30        39288  04-07-2011  ...               0          50
51        39312  04-07-2011  ...               0          43
72        39339  04-07-2011  ...               0          83
...         ...         ...  ...             ...         ...
3965      45680  25-07-2011  ...               0          58
3978      45698  25-07-2011  ...               0          44
3989      45717  25-07-2011  ...               0          35
4006      45742  25-07-2011  ...               0          55
4023      45767  25-07-2011  ...               0          44

[295 rows x 9 columns])
((216418,),       record_ID        week  ...  is_display_sku  units_sold
2         39241  04-07-2011  ...               0           6
10        39257  04-07-2011  ...               0          93
26        39282  04-07-2011  ...               0          54
49        39308  04-07-2011  ...               0          33
67        39333  04-07-2011  ...               0         134
...         ...         ...  ...             ...         ...
3905      45593  25-07-2011  ...               0          34
3918      45612  25-07-2011  ...               0           9
3930      45630  25-07-2011  ...               0          37
3974      45694  25-07-2011  ...               0          54
4019      45762  25-07-2011  ...               0           7

[205 rows x 9 columns])
((216419,),       record_ID        week  ...  is_display_sku  units_sold
0         43072  18-07-2011  ...               0          11
1         41334  11-07-2011  ...               0          45
3         39697  04-07-2011  ...               0          21
11        39796  04-07-2011  ...               0          14
27        40108  04-07-2011  ...               0          34
...         ...         ...  ...             ...         ...
3919      40299  04-07-2011  ...               0          45
3931      40319  04-07-2011  ...               0          55
3975      40618  04-07-2011  ...               0          53
3987      40999  11-07-2011  ...               0          75
4020      41351  11-07-2011  ...               0           5

[196 rows x 9 columns])
((216425,),       record_ID        week  ...  is_display_sku  units_sold
4         39243  04-07-2011  ...               0          17
13        39262  04-07-2011  ...               0          75
29        39287  04-07-2011  ...               0          34
71        39338  04-07-2011  ...               0          80
87        39363  04-07-2011  ...               0          21
...         ...         ...  ...             ...         ...
3964      45679  25-07-2011  ...               0          36
3977      45697  25-07-2011  ...               0          21
3988      45716  25-07-2011  ...               0          12
4005      45741  25-07-2011  ...               0          30
4022      45766  25-07-2011  ...               0           9

[263 rows x 9 columns])
((217217,),       record_ID        week  ...  is_display_sku  units_sold
32        39290  04-07-2011  ...               0          21
53        39314  04-07-2011  ...               0          12
119       39415  04-07-2011  ...               0          27
133       39436  04-07-2011  ...               0          15
146       39459  04-07-2011  ...               0          17
...         ...         ...  ...             ...         ...
3876      45554  25-07-2011  ...               0          13
3891      45577  25-07-2011  ...               0          18
3908      45599  25-07-2011  ...               0          12
3936      45637  25-07-2011  ...               0          37
3991      45719  25-07-2011  ...               0           7

[99 rows x 9 columns])
((217390,),       record_ID        week  ...  is_display_sku  units_sold
6         42244  11-07-2011  ...               0         145
15        44278  25-07-2011  ...               0         106
31        42642  18-07-2011  ...               0          81
52        45487  25-07-2011  ...               0         161
89        45256  25-07-2011  ...               0         131
...         ...         ...  ...             ...         ...
3966      39879  04-07-2011  ...               0          32
3979      40157  04-07-2011  ...               0          23
3990      40416  04-07-2011  ...               0          15
4007      45768  25-07-2011  ...               0          16
4024      43693  18-07-2011  ...               0           7

[256 rows x 9 columns])
((217777,),       record_ID        week  ...  is_display_sku  units_sold
33        39291  04-07-2011  ...               0          28
54        39315  04-07-2011  ...               0          23
120       39416  04-07-2011  ...               0          11
173       39501  04-07-2011  ...               0          29
223       39584  04-07-2011  ...               0          27
...         ...         ...  ...             ...         ...
3831      45489  25-07-2011  ...               0           7
3892      45578  25-07-2011  ...               0          35
3909      45600  25-07-2011  ...               0          25
3923      45619  25-07-2011  ...               0          33
3937      45638  25-07-2011  ...               0          56

[76 rows x 9 columns])
((219009,),       record_ID        week  ...  is_display_sku  units_sold
7         39249  04-07-2011  ...               0          21
17        39268  04-07-2011  ...               0          87
35        39293  04-07-2011  ...               0          76
55        39317  04-07-2011  ...               0          72
73        39344  04-07-2011  ...               0         191
...         ...         ...  ...             ...         ...
3967      45685  25-07-2011  ...               0          46
3980      45703  25-07-2011  ...               0          48
3992      45722  25-07-2011  ...               0          42
4008      45746  25-07-2011  ...               0          52
4025      45772  25-07-2011  ...               0          46

[300 rows x 9 columns])
((219029,),       record_ID        week  ...  is_display_sku  units_sold
36        39294  04-07-2011  ...               0         140
56        39318  04-07-2011  ...               0          93
135       39440  04-07-2011  ...               0          35
148       39463  04-07-2011  ...               0         231
197       39546  04-07-2011  ...               0         163
...         ...         ...  ...             ...         ...
3968      45686  25-07-2011  ...               0          22
3981      45704  25-07-2011  ...               0          55
3993      45723  25-07-2011  ...               0          34
4009      45747  25-07-2011  ...               0          47
4026      45773  25-07-2011  ...               0          53

[159 rows x 9 columns])
((219844,),       record_ID        week  ...  is_display_sku  units_sold
16        39267  04-07-2011  ...               0          20
34        39292  04-07-2011  ...               0          23
90        39368  04-07-2011  ...               0          11
121       39417  04-07-2011  ...               0           7
164       39484  04-07-2011  ...               0          20
...         ...         ...  ...             ...         ...
3817      45469  25-07-2011  ...               0          12
3832      45490  25-07-2011  ...               0          21
3893      45579  25-07-2011  ...               0          26
3938      45639  25-07-2011  ...               0          49
3953      45659  25-07-2011  ...               0          31

[108 rows x 9 columns])
((222087,),       record_ID        week  ...  is_display_sku  units_sold
18        39270  04-07-2011  ...               0          80
37        39295  04-07-2011  ...               0          30
57        39319  04-07-2011  ...               0          30
74        39346  04-07-2011  ...               0         138
92        39371  04-07-2011  ...               0          39
...         ...         ...  ...             ...         ...
3969      45687  25-07-2011  ...               0          75
3982      45705  25-07-2011  ...               0          75
3994      45724  25-07-2011  ...               0          37
4010      45748  25-07-2011  ...               0          97
4027      45774  25-07-2011  ...               0          40

[287 rows x 9 columns])
((222765,),       record_ID        week  ...  is_display_sku  units_sold
21        39273  04-07-2011  ...               0         105
40        39298  04-07-2011  ...               0          32
60        39323  04-07-2011  ...               0          52
77        39350  04-07-2011  ...               0         144
95        39374  04-07-2011  ...               0          45
...         ...         ...  ...             ...         ...
3970      45688  25-07-2011  ...               0          48
3983      45706  25-07-2011  ...               0          36
3997      45727  25-07-2011  ...               0          60
4013      45752  25-07-2011  ...               0         108
4030      45777  25-07-2011  ...               0          63

[269 rows x 9 columns])
((223153,),       record_ID        week  ...  is_display_sku  units_sold
9         39254  04-07-2011  ...               0          11
23        39275  04-07-2011  ...               0          25
42        39300  04-07-2011  ...               0          29
62        39325  04-07-2011  ...               0          25
79        39352  04-07-2011  ...               0          28
...         ...         ...  ...             ...         ...
3946      45647  25-07-2011  ...               0          27
3985      45708  25-07-2011  ...               0          23
3999      45729  25-07-2011  ...               0          31
4015      45754  25-07-2011  ...               0          10
4032      45779  25-07-2011  ...               0          25

[230 rows x 9 columns])
((223245,),       record_ID        week  ...  is_display_sku  units_sold
8         39253  04-07-2011  ...               0          32
22        39274  04-07-2011  ...               0          70
41        39299  04-07-2011  ...               0          41
61        39324  04-07-2011  ...               0          35
78        39351  04-07-2011  ...               0          74
...         ...         ...  ...             ...         ...
3971      45689  25-07-2011  ...               0          18
3984      45707  25-07-2011  ...               0         127
3998      45728  25-07-2011  ...               0          36
4014      45753  25-07-2011  ...               0          33
4031      45778  25-07-2011  ...               0          25

[286 rows x 9 columns])
((245338,),       record_ID        week  ...  is_display_sku  units_sold
25        39278  04-07-2011  ...               0          21
45        39303  04-07-2011  ...               0          12
64        39328  04-07-2011  ...               0          16
82        39355  04-07-2011  ...               0          65
98        39379  04-07-2011  ...               0          29
...         ...         ...  ...             ...         ...
3972      45692  25-07-2011  ...               0          11
3986      45711  25-07-2011  ...               0          41
4002      45732  25-07-2011  ...               0          15
4017      45757  25-07-2011  ...               0          11
4033      45782  25-07-2011  ...               0          15

[167 rows x 9 columns])
((245387,),       record_ID        week  ...  is_display_sku  units_sold
24        39277  04-07-2011  ...               0          19
44        39302  04-07-2011  ...               0          12
63        39327  04-07-2011  ...               0          20
81        39354  04-07-2011  ...               0          32
97        39378  04-07-2011  ...               0          19
...         ...         ...  ...             ...         ...
3902      45590  25-07-2011  ...               0          28
3947      45649  25-07-2011  ...               0          25
3961      45669  25-07-2011  ...               0           4
4001      45731  25-07-2011  ...               0           6
4016      45756  25-07-2011  ...               0          10

[119 rows x 9 columns])
((300021,),       record_ID        week  ...  is_display_sku  units_sold
12        39259  04-07-2011  ...               0          47
28        39284  04-07-2011  ...               0          24
69        39335  04-07-2011  ...               0          55
101       39385  04-07-2011  ...               0          18
142       39453  04-07-2011  ...               0          40
...         ...         ...  ...             ...         ...
3949      45654  25-07-2011  ...               0          16
3963      45678  25-07-2011  ...               0          22
3976      45696  25-07-2011  ...               0           7
4004      45738  25-07-2011  ...               0          27
4021      45764  25-07-2011  ...               0          15

[143 rows x 9 columns])
((300291,),       record_ID        week  ...  is_display_sku  units_sold
70        39336  04-07-2011  ...               0          17
554       40130  04-07-2011  ...               0           7
630       40258  04-07-2011  ...               0          38
808       40573  04-07-2011  ...               0          13
1031      40923  11-07-2011  ...               0          12
1071      40974  11-07-2011  ...               0          11
1533      41769  11-07-2011  ...               0           4
1607      41899  11-07-2011  ...               0          13
1682      42034  11-07-2011  ...               0          16
1774      42213  11-07-2011  ...               0          22
1983      42562  18-07-2011  ...               0          11
2024      42613  18-07-2011  ...               0          26
2055      42663  18-07-2011  ...               0          11
2508      43406  18-07-2011  ...               0           7
2586      43536  18-07-2011  ...               0           7
2654      43643  18-07-2011  ...               0           8
2671      43671  18-07-2011  ...               0          19
2769      43849  18-07-2011  ...               0          23
3039      44250  25-07-2011  ...               0          16
3074      44299  25-07-2011  ...               0           9
3146      44409  25-07-2011  ...               0           5
3551      45039  25-07-2011  ...               0           7
3634      45169  25-07-2011  ...               0           4
3704      45277  25-07-2011  ...               0          12
3723      45304  25-07-2011  ...               0           3
3826      45483  25-07-2011  ...               0          18

[26 rows x 9 columns])
((320485,),       record_ID        week  ...  is_display_sku  units_sold
19        39271  04-07-2011  ...               0          22
38        39296  04-07-2011  ...               0          27
58        39320  04-07-2011  ...               0          15
75        39347  04-07-2011  ...               0          58
93        39372  04-07-2011  ...               0          12
...         ...         ...  ...             ...         ...
3942      45643  25-07-2011  ...               0          26
3957      45663  25-07-2011  ...               0          23
3995      45725  25-07-2011  ...               0          17
4011      45749  25-07-2011  ...               0          22
4028      45775  25-07-2011  ...               0          41

[172 rows x 9 columns])
((327492,),       record_ID        week  ...  is_display_sku  units_sold
400       39876  04-07-2011  ...               0          33
809       40574  04-07-2011  ...               0          22
1383      41514  11-07-2011  ...               0          28
1775      42214  11-07-2011  ...               0          18
2347      43151  18-07-2011  ...               0          24
2770      43850  18-07-2011  ...               0          25
3386      44786  25-07-2011  ...               0           4
3827      45484  25-07-2011  ...               0          19

[8 rows x 9 columns])
((378934,),       record_ID        week  ...  is_display_sku  units_sold
20        39272  04-07-2011  ...               0          12
39        39297  04-07-2011  ...               0          33
59        39321  04-07-2011  ...               0           6
76        39348  04-07-2011  ...               0          35
94        39373  04-07-2011  ...               0          14
...         ...         ...  ...             ...         ...
3943      45644  25-07-2011  ...               0          16
3958      45664  25-07-2011  ...               0          10
3996      45726  25-07-2011  ...               0          21
4012      45750  25-07-2011  ...               0          10
4029      45776  25-07-2011  ...               0          23

[140 rows x 9 columns])
((398721,),       record_ID        week  ...  is_display_sku  units_sold
43        39301  04-07-2011  ...               0           3
80        39353  04-07-2011  ...               0           8
111       39401  04-07-2011  ...               0          17
129       39427  04-07-2011  ...               0          17
155       39471  04-07-2011  ...               0          13
202       39551  04-07-2011  ...               0           9
232       39595  04-07-2011  ...               0          21
257       39638  04-07-2011  ...               0           7
287       39689  04-07-2011  ...               0          14
336       39761  04-07-2011  ...               0           4
375       39832  04-07-2011  ...               0           4
454       39961  04-07-2011  ...               0           7
655       40294  04-07-2011  ...               0           8
692       40356  04-07-2011  ...               0          12
707       40383  04-07-2011  ...               0          17
746       40460  04-07-2011  ...               0          13
973       40824  04-07-2011  ...               0          12
1045      40939  11-07-2011  ...               0          19
1081      40991  11-07-2011  ...               0          39
1111      41039  11-07-2011  ...               0          22
1197      41189  11-07-2011  ...               0          25
1666      41996  11-07-2011  ...               0          10
1927      42464  11-07-2011  ...               0          13
1998      42578  18-07-2011  ...               0          23
2035      42630  18-07-2011  ...               0          21
2209      42914  18-07-2011  ...               0          14
2322      43106  18-07-2011  ...               0          21
2648      43633  18-07-2011  ...               0          19
2666      43660  18-07-2011  ...               0          39
2706      43737  18-07-2011  ...               0          16
3014      44215  25-07-2011  ...               0          14
3051      44267  25-07-2011  ...               0          10
3085      44314  25-07-2011  ...               0          10
3104      44339  25-07-2011  ...               0          13
3131      44383  25-07-2011  ...               0          20
3183      44463  25-07-2011  ...               0           8
3214      44507  25-07-2011  ...               0          10
3241      44550  25-07-2011  ...               0           3
3273      44601  25-07-2011  ...               0           3
3324      44673  25-07-2011  ...               0          15
3360      44742  25-07-2011  ...               0           3
3445      44871  25-07-2011  ...               0          13
3661      45205  25-07-2011  ...               0           4
3700      45267  25-07-2011  ...               0           8
3716      45294  25-07-2011  ...               0          10
3758      45370  25-07-2011  ...               0           1
4000      45730  25-07-2011  ...               0          11

[47 rows x 9 columns])
((545621,),       record_ID        week  ...  is_display_sku  units_sold
84        39359  04-07-2011  ...               0          20

In [26]:
#for each group find the correlation between the total_price and units_sold columns
corr_list=[]
for group in grouped:
    print(group[0]," :")
    print(group[1]['total_price'].corr(group[1]['units_sold']))
    corr_list.append(group[1]['total_price'].corr(group[1]['units_sold']))

(216233,)  :
0.15480852155927943
(216418,)  :
0.2397772508254536
(216419,)  :
0.22900128438112363
(216425,)  :
0.3057547139700752
(217217,)  :
0.17961957554284655
(217390,)  :
-0.7781563665484746
(217777,)  :
-0.32654026056415464
(219009,)  :
0.06188359375627378
(219029,)  :
-0.5934234838172551
(219844,)  :
-0.07494647419364263
(222087,)  :
-0.0530473143143911
(222765,)  :
-0.05500669086449072
(223153,)  :
-0.2679527117173797
(223245,)  :
-0.18375537175776385
(245338,)  :
-0.571134827222779
(245387,)  :
-0.6101529919802425
(300021,)  :
0.12263141728619174
(300291,)  :
0.0012689126888562508
(320485,)  :
-0.17218732747249493
(327492,)  :
-0.63431735223674
(378934,)  :
5.804471383828944e-17
(398721,)  :
-0.6807155656022305
(545621,)  :
nan
(546789,)  :
-0.2605339512758377
(547934,)  :
-0.15587291262255304
(600934,)  :
-0.32019463414624033
(673209,)  :
-0.11088782806986837
(679023,)  :
-0.18560893693710304

C:\Users\Bhanu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\Bhanu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [30]:
print(min(corr_list))
#find the sku_id with the minimum correlation
print(corr_list.index(min(corr_list)))

-0.7781563665484746
5

In [42]:
corr_list2=[]
for group in grouped:
    print(group[0]," :")
    print(group[1]['base_price'].corr(group[1]['units_sold']))
    corr_list2.append(group[1]['base_price'].corr(group[1]['units_sold']))

(216233,)  :
0.15480852155927943
(216418,)  :
0.40978128863877245
(216419,)  :
0.3613172192735378
(216425,)  :
0.3057547139700752
(217217,)  :
0.17961957554284655
(217390,)  :
0.3866471188735441
(217777,)  :
-0.32654026056415464
(219009,)  :
-0.013629800824339474
(219029,)  :
0.2497444579119258
(219844,)  :
-0.09511567386577181
(222087,)  :
-0.2777527670594725
(222765,)  :
0.1004662585288741
(223153,)  :
-0.22904635037204513
(223245,)  :
-0.1725547505993023
(245338,)  :
-0.29289558575854696
(245387,)  :
-0.33974426513018646
(300021,)  :
0.20960140159976087
(300291,)  :
-0.21800062103173407
(320485,)  :
-0.17218732747249493
(327492,)  :
0.1241792981775509
(378934,)  :
5.804471383828944e-17
(398721,)  :
-0.46107473786630976
(545621,)  :
nan
(546789,)  :
-0.031056617825481265
(547934,)  :
0.3458385889753386
(600934,)  :
-0.12214274281368095
(673209,)  :
-0.11088782806986837
(679023,)  :
0.24795249005863487

In [43]:
print(min(corr_list2))
#find the sku_id with the minimum correlation
print(corr_list.index(min(corr_list2)))

-0.46107473786630976

ValueError: -0.46107473786630976 is not in list